* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../images/bg.png);
  background-size: cover;
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.experiment-area {
  position: absolute;
  bottom: 0;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr; */
  justify-items: center;
  align-items: center;
}

.experiment-area > * {
  transform: translate(0, 40px);
}

.experiment-area > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#microscope {
  width: 400px;
  transform: translate(0, 0);
}

#eye-micrometer {
  width: 50px;
}

#stage-micrometer > img {
  width: 150px;
}

#salt {
  visibility: hidden;
  position: relative;
  width: 50px;
  /* z-index: 1; */
}

#salt > #particle {
  position: absolute;
  display: inline-block;
  width: 2px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: whitesmoke;
}

/* #stirer {
  grid-column: 4;
} */
#sprinkleSalt {
  position: absolute;
  top: 20px;
  left: 20px;
}

.instruction {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 30%;
  max-width: 30%;
  /* z-index: ; */
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.accordion-item {
  margin-bottom: 8px;
}

.accordion-title {
  cursor: pointer;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: left;
}

.accordion-content {
  background-color: white;
  display: none;
  padding: 8px 0 8px 0;
  border-top: 1px solid #ddd;
}
